*{

    box-sizing: border-box;
}
body{
    background-image: url(bg.jpg);
    background-blend-mode:color-burn;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    margin: 20px 40px;
    padding: 8px;
         
}

div{

    background-color: rgba(168, 217, 250, 0.397);
    padding: 40px;
    margin: 20px 30px;
    border: white solid;
    border-width: 8px;
    border-radius : 10px;

}

h1{
    text-align: center;
    font-size: 200%;
    color: rgb(223, 247, 213);
    
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding:20px;
    margin-bottom: 20px;
    font-size: 110%;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    border-radius: 10px;
}

input[type=submit]{

    margin-left: 25%;
    width: 50%;
    padding: 10px;
    background-color:#E7FFE7;
    border: none;
    border-radius: 10px;
    cursor : pointer;

}
input[type=submit]:hover{
    background-color:#C1FFC1;
   

}
p{
    font-size: 130%;
    color: white;
    text-align: center;
    margin:10px;
}

